<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'products/product_form.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'product_list' %}">Cancel</a>
</body>
</html>
