<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{{ product.product_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'products/product_detail.css' %}">
</head>
<body>
    <h1>{{ product.product_name }}</h1>
    <p>{{ product.product_description }}</p>
    <p>Price: {{ product.product_price }}</p>
    <p>Demo Price: {{ product.product_demo_price }}</p>
    <a href="{% url 'product_update' product.pk %}">Edit</a>
    <a href="{% url 'product_delete' product.pk %}">Delete</a>
    <a href="{% url 'product_list' %}">Back to list</a>
</body>
</html>
